@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  background: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsl(225, 100%, 94%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  max-width: 19rem;
  padding-bottom: 1.875rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.img {
  overflow: hidden;
  padding: 0rem;
  margin: 0rem;
}

.summary {
  color: hsl(223, 47%, 23%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  margin-top: 1.875rem;
}

.description {
  display: flex;
  color: hsl(224, 23%, 55%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 15%;
  padding-right: 10%;
  margin: 0rem 0rem 0rem 0rem;
  word-spacing: 0.125rem;
}

.plan {
  display: grid;
  background-color: hsl(230, 75%, 98%);
  grid-template-columns: auto 2.5fr 1.5fr;
  width: 78%;
  margin: 1.4rem 1rem 1.5rem 1.3rem;
  padding: 0.9375rem 0.9375rem 1.25rem 1rem;
  align-items: center;
  border-radius: 0.625rem;
  column-gap: 0.625rem;
}

.img_music {
  display: flex;
  justify-content: center;
  align-items: center;
}

.annual {
  color: hsl(223, 47%, 23%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  grid-row: 1;
  grid-column: 2;
  margin: 0rem 0rem 1.25rem 0rem;
}

.price {
  color: hsl(224, 23%, 55%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  grid-column: 2;
  grid-row: 1;
  margin: 1.875rem 0rem 0rem 0rem;
}

.change {
  color: hsl(245, 75%, 52%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline;
  grid-column: 3;
  grid-row: 1;
}

.change:hover {
  color: hsl(245, 83%, 68%);
}

.payment {
  border-radius: 0.625rem;
  background-color: hsl(245, 75%, 52%);
  border: none;
  padding: 0.8em 3.375em 0.8em 3.375em;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.payment:hover {
  background-color: hsl(245, 83%, 68%);
  cursor: pointer;
}

.cancel {
  color: hsl(224, 23%, 55%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.cancel:hover {
  cursor: pointer;
  color: hsl(223, 47%, 23%);
}

@media (min-width: 26.5625rem) {
  .card {
    max-width: 26rem;
  }
  .payment {
    padding: 0.8rem 6.375rem 0.8rem 6.375rem;
  }
  .cancel {
    margin-top: 2rem;
  }
}
